/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ms-container{
  max-width: 1300px;
  margin: auto;
}

body{
  font-size: 12px;
}

/* centratura testi */
.txt-center{
  text-align: center;
}

/* regole header */
/* nav */
.navbar-default .navbar-nav > li > a{
  color: #000000;
  font-size: 1.5rem;
  margin: 0 -8px 0 -8px;
}

.navbar-default{
  background-color: #ffffff;
  border: none;
}

.navbar-brand img{
  max-width: 130px;
  height: auto;
}

ul .btn-default{
  border-color: #0000ff;
  color: #0000ff;
  font-weight: bold;
}

ul .btn-default:hover{
  background-color: #0000ff;
  color: #ffff;
}

header .navbar-collapse{
 width: 80%;
 margin-left: 200px;
}

/* jumbotron */
.ms-jumbotron{
  background-image: url(../img/jumbo.svg);
  min-height: 500px;
}

.ms-jumbotron img{
width: 100%;
}

.ms-jumbotron h1{
  font-size: 6.4rem;
  color: #ffff;
  width: 90%;
  margin-top: 70px;
}

.ms-jumbotron .row div:first-child p{
  margin-top: 30px;
  font-size: 2.5rem;
}

/* card jumbotron */

header .card{
  background-color: #ffff;
  margin: 70px auto;
  width: 70%;
  border-radius: 10px;
}

.form-group{
  width: 90%;
  margin: auto;
}

.card h3{
  text-align: center;
  color: #0000ff;
  font-size: 3rem;
}

.card h3:first-child{
  padding-top: 20px;
  color: #000000;
}

.card .btn{
  margin-top: 10px;
  position: relative;
}

.card .btn-default img{
  width: 25px;
  height: auto;
  position: absolute;
  left: 5px;
}

.card p{
  text-align: center;
  padding: 10px 0 20px 0;
}

/* regole loghi businesses */
.bg-businesses{
  background-color:#f3f5f9;
}

.bg-businesses h5{
  font-size: 1.7rem;
  color: #5b6987;
  padding: 20px 0 20px 0;
}

.img-businesses{
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.bg-businesses a{
  text-decoration: none;
  color: #0069fe;
  font-size: 1.8rem;
  display: block;
  padding-bottom: 25px;
}
.bg-businesses a:hover{
  color: #0000ff ;
}

/* regole deploy */
.deploy h3{
  font-size: 4rem;
  font-weight: bold;
  padding: 50px 0 20px 0;
}
.deploy h4{
  font-size: 2rem;
  font-weight: bold;
}

.deploy p{
  font-size: 2.6rem;
  color: #5b6987;
}

.deploy ul{
  list-style: none;
  margin-top: 50px;
  text-align: left;
}
.deploy li{
  margin-left: 5px;
}
.deploy li > a{
  display: block;
  font-size: 2.5rem;
  color: #5b6987;
  padding: 10px 0 10px 20px;
  /* padding-left: 20px;
  padding-bottom: 15px; */
  border-left: 2px solid #5b6987;
  text-decoration: none;
}
.deploy li > a:hover{
  color: #000000;
  border-color: #0000ff;
}

.style-deploy{
  margin-top: 50px;
  text-align: left;
}
.style-deploy p{
  font-size: 2rem;
  margin-bottom: 40px;
}
