/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ms-container{
  max-width: 1300px;
  margin: auto;
}

body{
  font-size: 12px;
}

.style-p{
  font-size: 2.6rem;
  color: #5b6987;
}

/* centratura testi */
.txt-center{
  text-align: center;
}

/* regole header */
/* nav */
.navbar-default .navbar-nav > li > a{
  color: #000000;
  font-size: 1.3rem;
  margin: 0 -5px 0 -5px;
}

.navbar-default{
  background-color: #ffffff;
  border: none;
}

.navbar-brand img{
  max-width: 130px;
  height: auto;
}

ul .btn-default{
  border-color: #0000ff;
  color: #0000ff;
  font-weight: bold;
}

ul .btn-default:hover{
  background-color: #0000ff;
  color: #ffff;
}

header .navbar-collapse{
 width: 80%;
 margin-left: 130px;
}

/* jumbotron */
.ms-jumbotron{
  background-image: url(../img/jumbo.svg);
  min-height: 500px;
}

.ms-jumbotron img{
width: 100%;
}

.ms-jumbotron h1{
  font-size: 6.4rem;
  color: #ffff;
  width: 90%;
  margin-top: 70px;
}

.ms-jumbotron .row div:first-child p{
  margin-top: 30px;
  font-size: 2.5rem;
  color: #ffff;
}

/* card jumbotron */

header .card{
  background-color: #ffff;
  margin: 70px auto;
  width: 70%;
  border-radius: 10px;
}

.form-group{
  width: 90%;
  margin: auto;
}

.card h3{
  text-align: center;
  color: #0000ff;
  font-size: 3rem;
}

.card h3:first-child{
  padding-top: 20px;
  color: #000000;
}

.card .btn{
  margin-top: 10px;
  position: relative;
}

.card .btn-default img{
  width: 25px;
  height: auto;
  position: absolute;
  left: 5px;
}

.card p{
  text-align: center;
  padding: 10px 0 20px 0;
}

/* regole loghi businesses */
.bg-businesses{
  background-color:#f3f5f9;
}

.bg-businesses h5{
  font-size: 1.7rem;
  color: #5b6987;
  padding: 20px 0 20px 0;
}

.img-businesses{
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.bg-businesses a{
  text-decoration: none;
  color: #0069fe;
  font-size: 1.8rem;
  display: block;
  padding-bottom: 25px;
}
.bg-businesses a:hover{
  color: #0000ff ;
}

/* regole deploy */
.deploy h3{
  font-size: 4rem;
  font-weight: bold;
  padding: 50px 0 20px 0;
}
.deploy h4{
  font-size: 2rem;
  font-weight: bold;
}

.deploy ul{
  list-style: none;
  margin-top: 50px;
  text-align: left;
}
.deploy li{
  margin-left: 5px;
}
.deploy li > a{
  display: block;
  font-size: 2.5rem;
  color: #5b6987;
  padding: 10px 0 10px 20px;
  border-left: 2px solid #5b6987;
  text-decoration: none;
}
.deploy li > a:hover{
  color: #000000;
  border-color: #0000ff;
}

.style-deploy{
  margin-top: 50px;
  text-align: left;
}
.style-deploy p{
  font-size: 2rem;
  margin-bottom: 40px;
  color: #5b6987;
}
.designed h3{
  font-size: 4rem;
  font-weight: bold;
}
.designed p{
  margin-bottom: 50px;
}

/* designed for developers */
.designed{
  background-color: #f3f5f9;
}
.carousel-control.left,
.carousel-control.right{
  background-image: none;
}
.carousel-control.left{
  color:#98a3b8;
  opacity: 1;
}
.carousel-control.right{
  color: #3f5279;
  opacity: 10;
}
.img-wrapper-for-slide{
  width: 70%;
  height: auto;
  margin: auto;
}

@media all and (max-width: 990px) {
  .designed a{
    display: none;
  }
}

.circle{
  width: 12px;
  height: 12px;
  margin-bottom: 30px;
  display: inline-block;
  color: #0069ff;
  border: 1px solid #0069ff;
  border-radius: 50%;
}
.circle:hover{
  background-color: #0069ff;
  cursor: pointer;
}
.change-screen p{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 30px 0 5px 0;
  color: #5b6987;
}

/* regole features */
.features h3{
  font-size: 4rem;
  font-weight: 600;
}
.features .row{
  margin-top: 50px;
}
.features h5{
  font-size: 1.6rem;
  font-weight: 600;
  margin: 15px 0;
}
.features .style-p{
  font-size: 1.5rem;
}
.features a{
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 50px;
}

/* regole service */
.service{
  background-color:#031b4e;
  background-image: linear-gradient(#031b4e, #005dff, #031b4e);
}
.service h3{
  width: 65%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #ffff;
}
.service .style-p{
  width: 65%;
  margin: 30px auto;
  font-size: 2rem;
  color: #ffff;
  margin-bottom: 40px;
}

.service li{
  list-style: none;
  text-align: left;
  font-size: 1.7rem;
  border-bottom: 1px solid #ffff;
  color: #ffff;
  margin-bottom: 15px;
}
.service ul > li:last-child{
  border: none;
}
.service li > span{
  display: inline-block;
  width: 20%;
  /* margin-right: 50px; */
}
.service li > p{
  width: 50%;
  display: inline-block;
}
.service li > a{
  display: inline-block;
  width: 25%;
  text-align: right;
}

/* regole rockerbox */
.rockerbox{
  background-color: #f3f5f9;
}

.rockerbox h3{
  margin: 0 auto;
  padding: 60px 0 100px 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.carousel-inner{
  width: 50%;
  margin: auto;
}
.rockerbox .item.active{
  background-color: #ffff;
}
.rockerbox .item.active > img{
  padding: 50px 0;
}
.carousel-control{
  background-color: #f3f5f9;
}

.rockerbox .item.active > p{
  text-align: center;
}
.item.active p:nth-child(2){
  margin-bottom: 25px;
}
.item.active p:nth-child(3){
  font-size: 1.5rem;
  font-weight: bold;
}
.item.active p:nth-child(4){
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.item.active a{
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
}

@media all and (max-width: 990px) {
  .rockerbox a{
    display: none;
  }
}

.rockerbox .change-screen{
  margin-top: 30px;
}

/* regole get started now */
.get-started-now{
  background-color: #005dff;
  background-image: linear-gradient(#005dff, #031b4e);
}

.get-started-now h3{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffff;
  margin: 60px 0 20px 0;
}

.get-started-now p{
  text-align: center;
  margin-bottom: 60px;
}
.get-started-now a{
  color: #0000ff;
  font-style: 1.5rem;
  font-weight: bold;
}
.get-started-now a:hover{
  background-color: #0000ff;
  color: #ffff;
}

/* regole footer */
footer{
  background-color: #031b4e;
}
footer span{
  color: #7f8693;
}
footer .style-p{
  font-size: 1.5rem;
  color: #7f8693;
  padding-top: 10px;
}
footer .row{
  padding: 50px 0;
}

footer ul{
  list-style: none;
}

.loghi-footer li{
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-bottom: 40px;
}

footer .fab{
  font-size: 3rem;
  color: #7f8693;
}
footer .fab:hover{
  color: #ffff;
}

footer .list-link li:first-child{
  color: #ffff;
  font-size: 2rem;
  font-weight: bold;
}
footer .list-link li{
  margin-top: 10px;
}
footer .list-link a{
  color: #7f8693;
  font-size: 1.7rem;
  text-decoration: none;
}
footer .list-link a:hover{
  color: #ffff;
}

/* regole icona support */
.chat{
  position: fixed;
  z-index: 9;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  background-color: rgb(66, 91, 118);
  width: 60px;
  height: 60px;
  text-align: center;
}

.chat .far{
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  color:#0000ff;
}

.chat-support{
  display: none;
  color: #000000;
  font-size: 1.2rem;
  position: fixed;
  right: 85px;
  bottom: 15px;
}
.chat:hover .chat-support {
  display: block;
}
.chat-support div{
  width: 100%;
  background-color: #ffff;
}
.chat-support textarea{
  width: 100%;
}
.chat-support .btn-default{
  background-color: #8dc366;
  color:#ffff;
}
